body {
    display: flex;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, button {
    color: inherit;
}

.wrapper {
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 0px 15vw;
    background-color: #1f2937;
    padding-bottom: 90px;
}

.intro-content {
    display: flex;

    height: 300px;
}

.intro-content div {
    width: 50%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 60px;
}

.header-links {
    display: flex;
}

.header-links li {
    list-style: none;
    padding: 10px;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.awesome {
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 10%;
    box-sizing: border-box;
    height: 100%;
}

.awesome h1 {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.awesome p {
    font-size: 18px;
}

.awesome button {
    background-color: #3882f6;
}

.img-wrapper {
    height: 100%;
}

img {
    height: 100%;
    object-fit: cover;
}

.sign-up {
    border-radius: 10px;
    border: none;
    width: 120px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
}

/* RANDOM SECTION */

.random {
    display: flex;
    flex-direction: column;
    padding: 0px 30vw;
    align-items: center;
    padding-bottom: 100px;
}

.random h2 {
    font-size: 48px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 0px;
    align-items: center;
}

.card img {
    width: 100%;
    border: 4px solid rgb(8, 147, 207);
    border-radius: 15px;
}

.card p {
    font-size: 20px;
    color: #676767;
    text-align: center;
}